<div>
  <% if params[:controller] == "habits"%>
    <%= bootstrap_flash %>
  <% end %>
  <% for participant in participants %>
    <%= image_tag User.get_object(participant).gravatar_url, class: "profile-image" %>
  <% end %>
</div>