<%= form_with(url: users_search_path, remote: true) do |f| %>
  <div class="form-group">
    <div class="col-md-10 left-align-padding right-align-padding">
      <%= f.text_field :Search_friends, class:"form-control", placeholder: "Search for a friend"%>
    </div>
    <div class="col-md-2">
      <%= f.submit "Search", class: "btn btn-md btn-success"%>
    </div>
  </div>
<% end %>