/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  margin:0 !important;
  padding:0 !important;
  height:100%;
}

.bg {
  background-image: url(asset_path("background.jpg"));

  /* Full height */
  height: 100%; 
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  position: absolute;
}

.left-align-padding {
  padding-left: 0;
}
.right-align-padding {
  padding-right: 0;
}

.float-right {
  float: right;
}

.navbar-right {
  float: right;
}

.logout-btn {
  color: black !important;
}

.habit-card-title {
  color: darkslategray;
  font-size: 1.6em;
  font-weight: 500;
}

.habit-card-description {
  color: slategray;
  font-size: 1.25em;
  font-weight: 300;
}

.well {
  padding-bottom: 10px;
}

.text-area {
  resize: none;
}

.profile-image {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-right: 5px;
}

.profile-image-small {
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
  margin-top: 8px;
}

.profile-image-faded {
  opacity: 0.1;
}

.user-name {
  color: darkslategray;
  size: 2.5em;
  font-weight: 400;
  text-align: center;
}
.user-user-name {
  color: slategrey;
  size: 2.0em;
  font-weight: 300;
  text-align: center;
}

.thumbnail-user-search {
  background-color: rgb(255, 250, 249) !important;
}

.thumbnail:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.form-header {
  color: slategrey;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 15px;
}

.back-btn {
  color: rgb(41, 153, 131);
  font-size: 1.5em;
  font-weight: 500;
  margin-left: 15px;
}

.back-btn:hover {
  color: lightgray;
  text-decoration: none;
}

.custom-btn {
  color: darkslategrey;
  font-size: 1.35em;
  font-weight: 300;
  text-decoration: none;
}

.custom-btn:visited {
  border-bottom-color:rgba(255,255,255,0);
}

.custom-btn:hover{
  color: lightgray;
  text-decoration: none;
}

.custom-btn:active {
  text-decoration: none;
}


.complete-habit {
  background-color:rgb(198, 255, 242);
  padding: 12.5px;;
  color: darkslategrey;
  font-size: 1.35em;
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.incomplete-habit {
  background-color:rgb(255, 150, 150);
  padding: 12.5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.refresh-habit {
  background-color:rgb(255, 214, 246);
  padding: 12.5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.accept-habit {
  background-color:#fbffd6;
  padding: 12.5px;
  color: darkslategrey;
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.incomplete-habit:hover{
  color: white;
}

.remove-btn-elements {
  background-color: none;
  border-color: white;
}

.habit-label {
  color: slategray;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 5px;
}

.habit-name-label {
  color: darkslategray;
  font-size: 2.5em;
  font-weight: 500;
}

.habit-description-label {
  color: slategray;
  font-size: 1.25em;
  font-weight: 400;
}

.separator {
  background-color:lightgray;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.achievement-history {
  color: darkslategray;
  font-size: 1.15em;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.achievement-history-future {
  color: lightgray;
  font-size: 1.15em;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.habit-creation-title {
  color: slategray;
  font-size: 2.5em;
  font-weight: 100;
}

.nav-bar-link {
  font-size: 1.25em;
  margin-bottom: 0 !important;
  font-weight: 300;
  color: darkslategray;
}

.navbar-brand {
  font-size: 1.5em;
  margin-bottom: 0 !important;
  font-weight: 400;
  color: darkslategray;
}

.navbar-right {
  font-weight: 600;
  margin-bottom: 0 !important;
}

.navbar {
  background-color: rgb(242, 245, 252)
}

.smaller {
  font-size: 0.9em;
}

.line-separator{
  height:1px;
  background:lightgray;
  margin-top: 15px;
  margin-bottom: 15px;
}

.center {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.home-title {
  font-size: 4.5em;
  font-weight: 300;
  color: darkslategray;
}

.title-btn {
  font-size: 2.0em;
  margin-left: 10px;
  margin-right: 10px;
}

.habit-card {
  height: 250px;
  position: relative;
}

.habit-card {
  height: 280px;
  position: relative;
}

.anchor-bottom {
  position:absolute;
  bottom: 15px;
  align-content: center;
  transform: translateX(33%)
}

.habit-data-label {
  color: #686361;
  font-size: 1.3em;
  font-weight: 300;
}

.remove-user {
  margin-left: -5px;
  font-size: 1.5em;
  font-weight: 300;
  vertical-align: 10px;
  color: rgb(201, 211, 226);
}

.remove-user:hover {
  text-decoration: none;
}

.habit-participant {
  margin-left: 10px;
}