<div class="col-md-8 col-md-offset-2">
  <div style="margin-bottom:10px"> 
    <%= link_to "Back", user_path(current_user), class:"btn btn-md btn-warning"%> 
  </div>
  <%= render 'shared/show_habit.html', habit: @habit, user_habit: @user_habit%>
  <div id="completion-button">
    <% if @habit.finished %>
      <%= render 'habits/refresh_habit_button.html', habit: @habit %>
    <% else %>
      <%= render 'habits/completion_button.html', user_habit: @user_habit, habit: @habit %>
    <% end %>
  </div>
</div>